.bckimg{
    background-image: url("../images/syringe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.gyphicon{
    font-size: 34px;
    color: aliceblue
    float:right;
    
}
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  #columns{
      font-size: 20px;
  }
  #reg{
      position: relative;
      top: 100px;
  }
  #backstyle{
      background-color: rgb(0,139,139);
  }