body, html{
       height: 100%;
       margin:0;
       font-family: 'EB Garamond', serif;
  
}
.img1, .img2, .img3 {
       position: relative;
          /*opacity: 0.65;*/
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.img1{
      background-image: url("../images/img33.jpg");
      /*background-repeat: no-repeat;*/
      /*background-size: cover;*/
      min-height : 450px;
}
.img2{
      background-image: url("../images/lap.jpeg");
      /*background-repeat: no-repeat;*/
      /*background-size: cover;*/
      min-height: 400px;
}
.img3{
      background-image: url("../images/img1.jpg");
      /*background-repeat: no-repeat;*/
      /*background-size: cover;*/
      min-height: 400px;
      margin-bottom: 15px;
}
@keyframes slide_up {
  0%{
    transform: translatey(250px);
  }
  100%{
    transform: translateY(0%);
  }  
}
.slideup{
      text-align: center;
      margin-top: 1.5em;
      font-size: 4em;
      animation: slide_up 5s ease;
}
nav ul li{
      float: left;
      list-style-type: none;
      width: 150px;
      text-align: center;
      }
li a {
     color: black;
     line-height: 60px;
     font-size: 1.2em;
      }
li a:hover{
      background-color: black;
      color: whitesmoke;
    }
nav ul {
     width: 800px;
     height: 60px;
     margin: 0 auto;
     }
.btn{
       position: absolute;
       top:250px;
       margin-bottom: 3px;
       background-color:black; 
       color: whitesmoke;
       border: none;
     }
     

#log{
     background-color: gray;
     margin-top: 30px;
     margin-bottom: 50px;
     padding: 10px;
     color: black;
     border: solid black 1px;
}
#log h1 {
  color: black;
  font-size: 18px;
}
#buton{
  background-color: black;
  color: whitesmoke;
  border: none;
}
#reg{
    border:none;
    background-color: grey;
    margin-top: 90px;
    margin-bottom: 15px;
    padding: 10px;
     border: solid black 1px;
}
#src{
     border:none;
     background-color: grey;
     margin-top: 110px;
     margin-bottom: 0.1px;
     padding: 10px;
      border: solid black 1px;
}
.row{
     display: flex;
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 40px;
     position: relative;


}

.caption{
     position: absolute;
     left:0;
     top:20%;
     width:100%;
     text-align: center;
     color:black;
     
}
.caption .border{
     background-color: black;
     color:white;
     padding: 18px;
     font-size: 25px;
     letter-spacing: 10px;
     
}

h2, h3{
     text-align: center;
     font-size: 16px;
      font-family: 'Josefin Slab', serif;
      color: black;
     
}
   p{
        text-align: center;
        margin: 0 0 10px;
        font-size: 1.7em;
      font-family: 'Josefin Slab', serif;
      color:black;
   }   
    .cnt{
        background-color: #aa4b6b;
        min-height: 70%;
        margin-top: 24%;
        
   }
     